body{
    background-color: #1f1f1f;
    font-family: "游ゴシック","ヒラギノ角ゴ ProN","Meiryo",sans-serif;
    color: white;
}

.one{
    text-align: center;
    font-size: 20px;
}

.title{
    height: 80px;
    border-bottom: solid;
    border-color: #fef4f4;
}
h1{
    font-size: 50px;
    text-align: center;

}

.two{
    font-size: 18px;
}