body{
    background-color: #1f1f1f;
    font-family: "ヒラギノ角ゴ ProN","游ゴシック","Meiryo",sans-serif;
    color: white;
}


.one{
    text-align: center;
    font-size: 20px;
}

.title{
    height: 80px;
    background-color: #f6f6f6;
    margin-left: calc(((100vw - 100%) / 2) * -1);
    margin-right: calc(((100vw - 100%) / 2) * -1);

}
h1{
    font-size: 50px;
    text-align: center;
    color: #1f1f1f;
}

.two{
    font-size: 18px;
    text-align: center;
}

a{
    color: white;
}